# General
DOMAIN=localhost

# Database
DATABASE_PORT=5432
DATABASE_NAME=casper
DATABASE_USER=casper
DATABASE_PASSWORD=casper

# Engine
ENGINE_PORT=3000
# Generate with: openssl rand -hex 32
ENCRYPTION_KEY=

# Studio
STUDIO_PORT=5173

# Worker
WORKER_NAME="Worker 1"

# Logging
LOG_LEVEL=info  # trace, debug, info, warn, error, fatal

# Docker (user permissions)
UID=1000
GID=1000