# General
DOMAIN=localhost

# Database
DATABASE_PORT=5432
DATABASE_NAME=casper
DATABASE_USER=casper
DATABASE_PASSWORD=casper

# Engine
ENGINE_PORT=3000

# Studio
STUDIO_PORT=5173

# Worker
WORKER_NAME=

# Docker (user permissions)
UID=1000
GID=1000